/*BODY*/
* {
  box-sizing: border-box;
  color: white;
  font-family: "Merriweather", serif;
}
body {
  background-image: url(../images/fondolug.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}

/*HEADER*/
.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
}
.navbar {
  width: 100%;
  height: 70px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 4.2em;
  opacity: 80%;
}
.lista1 {
  width: 25%;
  font-weight: 450;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px rgb(138, 26, 138);
  display: flex;
  justify-content: space-between;
}
.lista2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 450;
  font-size: 1em;
}
.lista1 li,
.lista2 li {
  margin: 0.5vh;
}
.lista1 a,
.lista2 a {
  text-decoration: none;
  position: relative;
  color: #fff;
  text-decoration: none;
  display: flex;
}
#registro {
  background-color: rgb(255, 255, 255, 0.6);
  color: black;
  padding: 0.8vh;
  border-radius: 1rem;
}
#registro a {
  color: black;
}
.lista1 a::after,
.lista2 a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
  opacity: 65%;
}
.lista1 a:hover::after,
.lista1 a.subrayado-permanente::after {
  width: 100%;
}


/*MAIN*/
.main {
  width: 98vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.formulario > h1{
  background-color: rgb(0, 0, 0);
  color: white; 
  border-radius: 2vh;
  padding: 1vh;
  font-size: x-large;
}
form {
  border: solid rgb(255, 166, 0) 5px;
  padding: 5px;
  border-radius: 2vh;
  width: 30rem;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 2rem;
  background-color: transparent;
}
form > input{
  width: 100%;
  border: solid rgb(255, 166, 0);
  border-radius: 2vh;
  margin-top: 8px;
  margin-bottom: 8px; 
  padding: 8px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 153, 0, 0.452);
  text-align: center;
  font-weight: bold;
  font-size: large;
  text-shadow: 1px 1px 2px blueviolet;
}
input::placeholder{
  color:black;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  text-shadow: 1px 1px 1px blueviolet;
}
form > label {
  display:inline-block;
  width:  100%;
  border: solid rgb(255, 166, 0);
  border-radius: 2vh;
  margin-top: 8px;
  margin-bottom: 8px; 
  padding: 8px;
  background-color: rgba(255, 153, 0, 0.452);
  color:black;
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  text-shadow: 1px 1px 1px blueviolet;
}
.checkbox > input{
  width: 1rem;
  height: 1rem;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  font-size: medium;
}
form > fieldset {
  display: flex;
  justify-content: center;
  border: solid rgb(255, 166, 0);
  background-color: rgba(255, 153, 0, 0.452);
  border-radius: 2vh;
  margin-top: 4px;
  margin-bottom: 8px; 
  color:black;
  text-align: center;
  font-size: small;
  font-weight: bolder; 
  text-shadow: 1px 1px 1px blueviolet;
}
fieldset > legend{
  color: white;
  text-align: center;
  font-size: small;
  font-weight: bolder;
  text-shadow: 1px 1px 1px blueviolet;
}
fieldset > label {
  color:black;
  text-align: center;
  font-size: small;
  font-weight: bolder; 
  text-shadow: 1px 1px 1px blueviolet;
}
button {
  background-color: #7781b1;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  width: 6vw;
  margin: 0px 100px 10px 100px;
}


/*FOOTER*/
footer {
  width: 100%;
  margin: 0px 0px 10px 0px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.logo1 {
  width: 4rem;
}
.Contacto {
  text-align: center;
  margin-left: 20px;
  font-size: 1rem;
}
.copy2 {
  text-align: center;
  font-size: 1rem;
  margin-right: 20px;
}


/* MEDIA PARA SCREEN 1465px*/
@media screen and (max-width: 1465px) {
  body {
    width: 98vw;
    height: 98vh;
    background-image: url(../images/fondolug.jpg);
    background-position: center;
    background-size: auto;
  }
  .header ul {
    padding: 1vw;
  }
  .logo {
    opacity: 80%;
  }
  .lista1 {
    font-size: 1.4em;
  }
  .lista2 {
    font-size: 0.9em;
  }

  .contenido {
    width: 70vw;
    height: 70vh;
    display: flex;
    background-color: #cfdae8;
    margin: 10px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    box-shadow: 5px 5px 20px rgba(127, 126, 126, 0.681);
    opacity: 70%;
  }
  .textoContenido {
    width: 100%;
    height: auto;
  }

  .textoContenido h2 {
    text-align: center;
    font-size: 2em;
  }

  .imagenContenido {
    width: 99vw;
    height: 50vh;
  }

  .btn {
    background-color: black;
    padding: 5px;
    border-radius: 30px;
    position: fixed;
    right: 32%;
    bottom: 20%;
    width: 5vh;
    height: 5vh;
  }
  .footer {
    width: 98vw;
    height: 7.6vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 1.3vh;
    margin: 1vh;
  }
  .logo1 {
    width: 3.9rem;
    margin-bottom: 10px;
  }
  .Contacto {
    text-align: center;
    margin-left: 20px;
    font-size: 0.8rem;
    text-shadow: 1px 1px 1px rgb(253, 199, 2);
  }
  .copy2 {
    text-align: center;
    font-size: 0.8rem;
    margin-right: 20px;
    text-shadow: 1px 1px 1px rgb(223, 175, 0);
  }
}
/* MEDIA PARA SCREEN 850px*/
@media screen and (max-width: 850px) {
  body {
    width: 98vw;
    height: 98vh;
    background-image: url(../images/fondolug.jpg);
    background-position: center;
    background-size: auto;
  }
  .header ul {
    padding: 1vw;
  }
  .logo {
    opacity: 80%;
  }
  .lista1 {
    font-weight: 450;
    font-size: 2vh;
    display: flex;
    margin-left: 0vh;
  }
  .lista2 {
    font-weight: 450;
    font-size: 1.5vh;
    display: flex;
    margin-right: 0vh;
  }

  .contenido {
    width: 70vw;
    height: 70vh;
    display: flex;
    background-color: #cfdae8;
    margin: 10px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    box-shadow: 5px 5px 20px rgba(127, 126, 126, 0.681);
    opacity: 70%;
  }
  .textoContenido {
    width: 100%;
    height: auto;
  }

  .textoContenido h2 {
    text-align: center;
    font-size: 2em;
  }

  .imagenContenido {
    width: 100%;
    height: auto;
    display: none;
  }

  button {
    background-color: #7781b1;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    width: 20vw;
  }
  .footer {
    width: 98vw;
    height: 7.6vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 1.3vh;
    margin: 1vh;
  }
  .logo1 {
    width: 3.9rem;
    margin-bottom: 10px;
  }
  .Contacto {
    text-align: center;
    margin-left: 20px;
    font-size: 0.8rem;
    text-shadow: 1px 1px 1px rgb(253, 199, 2);
  }
  .copy2 {
    text-align: center;
    font-size: 0.8rem;
    margin-right: 20px;
    text-shadow: 1px 1px 1px rgb(223, 175, 0);
  }
}
/* MEDIA PARA SCREEN 380px*/
@media screen and (max-width: 430px) {
  .lista1 {
    font-size: 0.8rem;
    padding: 3%;
  }
  .lista2 {
    flex-direction: column;
    font-size: 0.75rem;
    text-align: center;
  }
  .textoContenido h2 {
    text-align: center;
    font-size: 1.7em;
  }
  .formulario {
    border-radius: 2vh;
    width: 95vw;
    color: rgb(255, 255, 255);  
  }
  .formulario > h1{
    background-color: rgb(0, 0, 0);
    color: white; 
    border-radius: 2vh;
    text-align: center;
    font-size: 1rem;
    margin-top:6vh;
  }
  input::placeholder{
    color:black;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bolder;
    text-shadow: 1px 1px 1px blueviolet;
  }
  form > input{
    width: 100%;
    height: 5vh;
    border: solid rgb(255, 166, 0);
    border-radius: 2vh;
    margin-top: 8px;
    margin-bottom: 8px; 
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 153, 0, 0.452);
    text-align: center;
    font-weight: bold;
    font-size: large;
    text-shadow: 1px 1px 2px blueviolet;
  }
  .checkbox > input{
    height: 0.6rem;
    margin: 5px;
    text-align: center;
  }
  fieldset > label {
    color:black;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bolder; 
    text-shadow: 1px 1px 1px blueviolet;
  }
  button {
    background-color: #7781b1;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    width: 20vw;
  }
  form > label {
    font-size: 0.7rem;
  }
}
